@use "sass:list";
@use "sass:selector";
$navigators: moz webkit ms o;

@mixin unify-parent($child) {
    @at-root #{selector.unify(&, $child)} {
        @content;
    }
}

@mixin prefix($properties, $values, $prefixes: $navigators) {
    $pairs: list.zip($properties, $values);
  
    @each $prefix in $prefixes {
        @each $pair in $pairs {
            $property: list.nth($pair, 1);
            $value: list.nth($pair, 2);
            -#{$prefix}-#{$property}: $value;
        }
    }
  
    @each $pair in $pairs {
        $property: list.nth($pair, 1);
        $value: list.nth($pair, 2);
        #{$property}: $value;
    }
}  

// Add position
@mixin addPosition( $t: false, $r: false, $b: false, $l: false, $type: center ) {
    @if( $type == center ) {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    } @else {
        @if( $t ) { top: $t; }
        @if( $r ) { right: $r; }
        @if( $b ) { bottom: $b; }
        @if( $l ) { left: $l; }
    }
}  

//Transition
@mixin transition ($td: 0.5s, $ta: ease-in-out, $p: all){
    transition: $td $ta;
    transition-property: $p;
}

//flex
@mixin flex ($dp: flex, $jc: center, $ai: center){
    display: $dp;
    justify-content: $jc;
    align-items: $ai;
}

@mixin before_hover($bg: color('white')){
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	background-color: $bg;
	height: 2px;
	@include transition($p: width);
}