//PALETA DE COLORES
$palette:(
    'white': #fff,
    'black': #000,
    'primary': #2B2E3A,
    'secondary': #C0DF40,
    'bg': #F0F1FA,
);
//BREAKPOINTS
$breakpoints: (
    'desktop': 1580px,
    'laptop': 1280px,
    'laptop-small': 1100px,
    'ipad-big': 992px,
    'ipad-small': 768px,
    'mobile': 576px
);
//OTHERS
$transition-duration: 0.3s;
$limit-width: 1300px;
$height-header: 65px;