//PALETA DE COLORES
$palette:(
    'white': #fff,
    'black': #000,
    'primary': #2B2E3A,
    'secondary': #E6E7FE,
    'bg-footer': #e1e2e9,
    'tertiary': #40b5cb,
    'success': rgb(0, 110, 0),
    'danger': rgb(245, 65, 65),
    'bg': #F0F1FA,
    'bg-dark': #1B1B1F
);
//BREAKPOINTS
$breakpoints: (
    'desktop': 1580px,
    'laptop': 1280px,
    'laptop-small': 1100px,
    'ipad-big': 1024px,
    'ipad-small': 768px,
    'mobile': 576px
);
//OTHERS
$transition-duration: 0.3s;
$limit-width: 1300px;
$height-header: clamp(5rem, 7.5vw, 10rem);
$limit-padding: 7.5rem;
$limit-padding-mobile: 5%;