@use '../../base/functions' as fun;
@use '../../base/mixin' as mix;

@media(max-width: fun.breakpoints('ipad-big')){
    //Animations
    .home-vision-carrousel{
        &__item{
            img{
                @include mix.transition($p: (opacity transform));
                opacity: 0;
                transform: translateX(50px);
            }
        }
        &.animate-container{
            .home-vision-carrousel__item{
                img{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}