@use '../base/mixin' as mix;

.h-text{
    div{
        @include mix.flex();
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 0 1rem;
        z-index: 10;
    }
    span{
        @include mix.transition(.3s, $p: (bottom, top, opacity));
        &:first-child{
            position: relative;
            top: 0;
            opacity: 1;
        }
        &:last-child{
            position: absolute;
            bottom: -2rem;
            opacity: 0;
        }
    }
    &.fullwidth{
        width: 100%;
        div{
            justify-content: flex-start;
        }
    }
    &:hover,
    &.loading{
        span{
            &:last-child{
                bottom: clamp(0.015rem, 0.015vw,0.75rem);
                opacity: 1;
            }
            &:first-child{
                top: -2rem;
                opacity: 0;
            }
        }
    }
}