.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__form{
        width: 100%;
        max-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        button, input{
            width: 100%;
            max-width: 100%;
        }
    }
}