@use '../base/functions' as fun;

.animate-line{
    position: absolute;
    left: -5%;
    z-index: -1;
    &--secondary {
        transform: rotateY(180deg);
        left: unset;
        right: -5%;
    }
    body.dark_mode & {
        path{
            stroke: rgb(82, 82, 82);
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .animate-line{
        left: -8%;
        top: -20vh !important;
        &--secondary{
            top: 0 !important;
        }
    }
}