@use '../base/functions' as fun;
@use '../base/variables' as var;

body{
    background-color: fun.color('bg');
    position: relative;
    overflow-x: hidden;
    &::before{
        $position: 0;
        content: "";
        position: fixed;
        width: 100%;
        height: 130vh;
        top: $position;
        left: $position;
        background-color: fun.color('bg');
        z-index: -1;
    }
    &.dark_mode{
        &::before{
            background-color: fun.color('bg-dark');
        }
    }
}

.ctn{
    padding: 0 var.$limit-padding;
    &--top{
        padding-top: clamp(5rem, 7.5vw, 10rem);
    }
    &--height{
        min-height: 100svh;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .ctn{
        $padding: 8rem;
        padding: 0 var.$limit-padding-mobile;
        &--top{
            padding-top: $padding;
        }
        &--top-mobile{
            padding-top: $padding * 0.5;
        }
    }
}