@use '../base/functions' as fun;
@use '../base/variables' as var;

body{
    background-color: fun.color('bg');
    position: relative;
    overflow-x: hidden;
    &.dark_mode{
        background-color: fun.color('bg-dark');
    }
}

.ctn{
    padding: 0 var.$limit-padding;
    &--top{
        padding-top: clamp(5rem, 7.5vw, 10rem);
    }
    &--height{
        min-height: 100svh;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .ctn{
        padding: 0 var.$limit-padding-mobile;
        &--top{
            padding-top: 8rem;
        }
        &--top-mobile{
            padding-top: 4rem;
        }
    }
}