@use '../base/functions' as fun;

input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"]{
    outline: inherit;
    border: none;
    font-size: clamp(1rem, 1vw,1vw);
    font-weight: 500;
    padding: clamp(1rem, 0.75vw, 1vw) 2rem;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: fun.color('bg');
    border: 2px solid fun.color('bg');
    transition: .5s ease all;
    &:hover{
        border-color: fun.color('secondary');
    }
    &:focus{
        border-color: fun.color('secondary');
        box-shadow: 0 0 0 2px fun.color('secondary');
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="email"]{
        font-size: 1.2rem;
    }
}