@use '../base/functions' as fun;
@use '../base/mixin' as mix;
@use '../base/variables' as var;

.loader {
    @include mix.flex($ai: flex-end, $jc: flex-start);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100svh;
    z-index: 101;
    &__bg{
        background-color: #0f0f0f;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1;
    }
    &__counter{
        position: relative;
        z-index: 1;
        font-size: 15vh;
        color: fun.color('white');
        list-style: 1;
        bottom: -2vh;
    }
    &__progress{
        @include mix.flex($ai: center, $jc: flex-start);
        position: absolute;
        width: 100%;
        height: 7.5vh;
        z-index: 1;
        max-width: 300px;
        left: calc(50% - 150px);
        border: 2px solid fun.color('white');
        top: calc(50% - 3.75vh);
        span{
            @include mix.transition(.1s, $p: (width));
            height: 100%;
            background-color: fun.color('white');
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .loader {
        &__progress{
            $width: 200px;
            max-width: $width;
            left: calc(50% - ($width * 0.5));
        }
        &__counter{
            font-size: 7rem;
        }
    }
}