@use '../base/functions' as fun;

$prefix-progress-bar: 'progress-bar';

.#{$prefix-progress-bar} {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: fun.color('primary');
  transform-origin: 0%;
  z-index: 9;
}