@use '../base/functions' as fun;
@use '../base/mixin' as mix;
@use '../animations/settings';

.settings{
    @include mix.flex($jc: flex-start);
    position: fixed;
    left: 0;
    z-index: 90;
    height: 100vh;
    article:first-child,
    article:nth-child(2){
        position: relative;
        z-index: 1;
        max-height: 50vh;
    }
    article:first-child{
        @include mix.transition($td: 1s, $ta: ease, $p: width);
        width: 0;
        overflow: hidden;
        position: relative;
        background-color: fun.color('white');
        display: flex;
        min-height: clamp(3rem, 3vw, 3vw);
        padding: 20px 0;
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            z-index: 1;
        }
        .content-items{
            @include mix.flex($ai: flex-end, $jc: space-between);
            @include mix.transition($p: opacity);
            height: 100%;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 20px;
            opacity: 0;
        }
    }
    article:nth-child(2){
        @include mix.flex($ai: flex-start,);
        width: 100%;
        background-color: fun.color('primary');
        width: clamp(3rem, 3vw, 3vw);
        height: clamp(3rem, 3vw, 3vw);
        padding: 0.75vw;
        border-radius: 0 1vw 1vw 0;
        border: 1px solid fun.color('white');
        border-left: none;
        img{
            width: 100%;
            animation: loop-rotate 1s infinite linear;
        }
    }
    article:nth-child(3){
        position: absolute;
        background-color: rgb(0,0,0, .15);
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }
    &.open{
        article:nth-child(2),
        article:first-child{
            animation: open-content .5s 1 ease forwards;
            animation-delay: 1.25s;
        }
        article:first-child{
            max-height: 50vh;
            .content-items{
                opacity: 1;
                transition-delay: 1.5s;
            }
        }
    }
    &.closed{
        article:nth-child(2),
        article:first-child{
            animation: close-content .5s 1 ease forwards;
        }
        article:nth-child(3){
            pointer-events: none;
        }
        .content-items{
            opacity: 0;
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .settings{
        article:nth-child(2){
            min-height: 3.5rem;
            justify-content: center;
            padding-top: 0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            width: 3.5rem;
            img{
                width: 100%;
                position: relative;
            }
        }
    }
}