@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.switch-container{
    @include mix.flex($jc: space-between);
    width: 90%;
    margin: auto;
    .switch {
        @include mix.flex($jc: flex-start);
        $sizeSwitch: 7rem;
        width: 50%;
        max-width: $sizeSwitch;
        height: $sizeSwitch * 0.5;
        background-color: fun.color('primary');
        border-radius: $sizeSwitch - 2rem;
        padding: 0 0.5rem;
        cursor: pointer;
    }
    .switch[data-isOn="true"] {
        justify-content: flex-end;
        background-color: fun.color('tertiary');
    }
    .handle {
        $sizeHandle: 2.5rem;
        width: $sizeHandle;
        height: $sizeHandle;
        background-color: white;
        border-radius: 40px;
    }
    p{
        font-size: clamp(1.5rem, 1.3vw, 1.3vw);
        text-wrap: nowrap;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .switch-container{
        .handle {
            $sizeHandle: 2rem;
            width: 2rem;
            height: 2rem;
        }
        .switch {
            $sizeSwitch: 6rem;
            width: 50%;
            max-width: $sizeSwitch;
            height: $sizeSwitch * 0.5;
        }
    }
}