@use '../base/functions' as fun;
@use '../base/mixin' as mix;

//ANIMATIONS

.general-text{
    position: relative;
    overflow: hidden;
    span{
        @include mix.transition($p: (opacity, transform));
        opacity: 0;
        transform: translateY(20px);
        transition-delay: var(--index);
    }
}

.general-text.animate-text {
    span{
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    font-size: clamp(2rem, 6vh, 5rem);
    display: flex;
    gap: 1rem;
}

.paragraph {
    font-size: clamp(1.6rem, 2vh, 2rem);
    display: flex;
    gap: 0.5rem;
}

.error{
    font-size: clamp(1.2rem, 2vh, 1.45rem);
    color: fun.color('danger');
    padding-left: 2rem;
}

.link {
    position: relative;
    color: currentColor;
    &::before{
        @include mix.transition($p: width);
        content: "";
        width: 100%;
        height: 0.15rem;
        background-color: currentColor;
        left: 0;
        bottom: 0;
        position: absolute;
    }
    &:hover{
        &::before{
            width: 0;
            left: unset;
            right: 0;
        }
    }
}

.center{
    text-align: center;
    justify-content: center;
}

@media(max-width: fun.breakpoints('ipad-big')){
    .title {
        font-size: 2.6rem;
    }
    .paragraph{
        font-size: 1.4rem;
    }
    .error{
        font-size: 1.2rem;
    }
}