@use '../base/functions' as fun;
@use '../base/mixin' as mix;
@use '../base/variables' as var;

$prefix-footer: 'footer';

.#{$prefix-footer}{
    width: 100%;
    position: relative;
    z-index: 1;
}

.#{$prefix-footer}__scroll{
    background-color: fun.color('primary');
    padding: 6rem var.$limit-padding;
    width: 100%;
    body.dark_mode & {
        background-color: fun.color('bg-dark');
    }
    &__text{
        text-transform: uppercase;
        font-size: clamp(1.5rem, 1vw, 1vw);
        color: fun.color('white');
    }
    &__progress{
        width: 50%;
        height: 2px;
        background-color: rgb(255,255,255, .5);
        position: relative;
        overflow: hidden;
        div {
            @include mix.transition($p: width);
            position: absolute;
            height: 100%;
            background-color: fun.color('secondary');
            width: 0;
        }
    }
    article:first-child {
        max-width: 10vw;
    }
    article:nth-child(2){
        @include mix.flex($jc: space-between);
        padding: 6rem 0 0 0;
        & > p{
            font-size: clamp(2.5rem, 3vw, 3vw);
            text-transform: uppercase;
            color: fun.color('white');
        }
        & > div{
            @include mix.flex($jc: flex-end);
            gap: 2rem;
            height: 0.2rem;
            width: 50%;
            max-width: 40rem;
        }
    }
    article:nth-child(3){
        @include mix.flex($jc: space-between, $ai: flex-start);
        padding-top: 6rem;
        div{
            $size: 0.2rem;
            $sizePercent: 100%;
            @include mix.flex();
            position: relative;
            width: clamp(2rem, 1vw, 3rem);
            height: clamp(2rem, 1vw, 3rem);
            &::before,
            &::after{
                position: absolute;
                content: "";
                background-color: fun.color('white');
            }
            &::before{
                width: $sizePercent;
                height: $size;
            }
            &::after{
                width: $size;
                height: $sizePercent;
            }
        }
    }
}

.#{$prefix-footer}__information{
    background-color: fun.color('bg-footer');
    body.dark_mode & {
        background-color: fun.color('white');
    }
    ul{
        @include mix.flex($jc: space-between);
        padding: 2rem var.$limit-padding;
        width: 100%;
        list-style: none;
        font-size: clamp(1.3rem, 1.1vw, 1.1vw);
        li, a{
            color: fun.color('primary');
        }
        a{
            position: relative;
            &::before{
                @include mix.transition($p: width);
                content: "";
                position: absolute;
                background-color: fun.color('primary');
                display: flex;
                width: 0;
                height: 2px;
                bottom: 0;
                right: 0;
            }
            &:hover{
                &::before{
                    width: 100%;
                    right: unset;
                    left: 0;
                }
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .#{$prefix-footer}__scroll{
        padding: 6rem var.$limit-padding-mobile;
        &__progress {
            width: 100%;
        }
        &__text{
            font-size: 1.6rem;
        }
        article:first-child {
            max-width: 100%;
        }
        article:nth-child(2) {
            flex-direction: column;
            align-items: flex-start;
            gap: 7rem;
            & > div{
                width: 100%;
                max-width: 100%;
                justify-content: flex-start;
                p{
                    text-wrap: nowrap;
                }
            }
        }
    }
    .#{$prefix-footer}__information{
        ul{
            padding: 2rem var.$limit-padding-mobile;
            flex-direction: column;
            gap: 1rem;
        }
    }
}