@use '../base/functions' as fun;
@use '../base/variables' as var;

.footer{
    width: 100%;
}

.footer__scroll{
    background-color: fun.color('primary');
    padding: 6rem var.$limit-padding;
    width: 100%;
    body.dark_mode & {
        background-color: fun.color('bg-dark');
    }
    &__text{
        text-transform: uppercase;
        font-size: clamp(1.5rem, 1vw, 1vw);
        color: fun.color('white');
    }
    &__progress{
        width: 50%;
        height: 2px;
        background-color: rgb(255,255,255, .5);
        position: relative;
        overflow: hidden;
        div {
            position: absolute;
            height: 100%;
            background-color: fun.color('secondary');
            width: 0;
            transition: .5s ease width;
        }
    }
    article:first-child {
        max-width: 10vw;
    }
    article:nth-child(2){
        padding: 6rem 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > p{
            font-size: clamp(2.5rem, 3vw, 3vw);
            text-transform: uppercase;
            color: fun.color('white');
        }
        & > div{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
            height: 0.2rem;
            width: 50%;
            max-width: 40rem;
        }
    }
    article:nth-child(3){
        display: flex;
        justify-content: space-between;
        padding-top: 6rem;
        div{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: clamp(2rem, 1vw, 3rem);
            height: clamp(2rem, 1vw, 3rem);
            &::before,
            &::after{
                position: absolute;
                content: "";
                background-color: fun.color('white');
            }
            &::before{
                width: 100%;
                height: 0.2rem;
            }
            &::after{
                width: 0.2rem;
                height: 100%;
            }
        }
    }
}

.footer__information{
    background-color: fun.color('bg-footer');
    body.dark_mode & {
        background-color: fun.color('white');
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem var.$limit-padding;
        width: 100%;
        list-style: none;
        font-size: clamp(1.3rem, 1.1vw, 1.1vw);
        li, a{
            color: fun.color('primary');
        }
        a{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                background-color: fun.color('primary');
                display: flex;
                width: 0;
                height: 2px;
                bottom: 0;
                right: 0;
                transition: .5s ease width;
            }
            &:hover{
                &::before{
                    width: 100%;
                    right: unset;
                    left: 0;
                }
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .footer__scroll{
        padding: 6rem var.$limit-padding-mobile;
        &__progress {
            width: 100%;
        }
        &__text{
            font-size: 1.6rem;
        }
        article:first-child {
            max-width: 100%;
        }
        article:nth-child(2) {
            flex-direction: column;
            align-items: flex-start;
            gap: 7rem;
            & > div{
                width: 100%;
                max-width: 100%;
                justify-content: flex-start;
                p{
                    text-wrap: nowrap;
                }
            }
        }
    }
    .footer__information{
        ul{
            padding: 2rem var.$limit-padding-mobile;
            flex-direction: column;
            gap: 1rem;
        }
    }
}