@use '../base/functions' as fun;
@use '../base/variables' as var;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem var.$limit-padding;
    position: fixed;
    width: 100%;
    &__buttons {
        display: flex;
        gap: 10px;
    }
    &__logo{
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: 500;
        text-transform: uppercase;
        color: fun.color('primary');
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .header{
        padding: 2rem var.$limit-padding-mobile;
        &__logo{
            font-size: 1.8rem;
        }
    }
}