@use '../../base/functions' as fun;
@use '../../base/mixin' as mix;

.salome-text{
    @include mix.flex();
    height: 100svh;
    width: 100%;
    position: absolute;
    font-size: 10vh;
    color: fun.color('purple');
    text-align: center;
}

@media(max-width: fun.breakpoints('ipad-big')){
    .salome-text{
        font-size: 3rem;
        height: 100svh;
    }
}